@import "tailwindcss";

:root {
  --background: #1a1410;
  --foreground: #fbbf24;
  color-scheme: dark;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

input {
  color-scheme: dark;
}